.greet {
  padding: 3.75rem;
  background: linear-gradient(rgba(0, 0, 0, 0.15)), url(../img/parallax.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  @media (max-width: $md1 + px) {
    padding: 0 0 70px 0;
  }
  @media (max-width: $md3 + px) {
    padding: 1.25rem 0 1.25rem 0;
  }
  &__container {
    display: flex;

    @media (max-width: $md3 + px) {
      align-items: center;
      text-align: center;
      flex-direction: column-reverse;
    }
  }
  &__content {
    flex: 1 1 auto;
    align-items: flex-start;
    padding: 20px 100px 0 0;
    font-family: $fontFamily;
    *:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $md1 + px) {
      padding: 20px 50px 0 0;
    }
    @media (max-width: $md3 + px) {
      padding: 0;
    }
  }
  &__title {
    color: $fontClr;
    display: inline-flex;
    margin-bottom: 2rem;
    white-space: nowrap;
    @media (max-width: $md3 + px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
  &__text {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    @media (max-width: $md3 + px) {
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }
  &__btn {
    margin-bottom: 1.56rem;
    @media (max-width: $md3 + px) {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  &__avatar {
    flex: 0 0 15rem;
    height: 15rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 15rem;
      height: 15rem;
    }
    @media (max-width: $md3 + px) {
      margin-bottom: 2rem;
    }
  }
}

.recent-posts {
  background-color: $lightBlue;
  padding: 1.56rem 0 3.12rem 0;
  @media (max-width: $md3 + px) {
    padding: 1.56rem 1.56rem;
  }
  &__header {
    display: flex;
    padding: 0 0.6rem;
    margin-bottom: 1.25rem;
  }
  &__title {
    flex: 1 1 auto;
    padding-right: 1rem;
  }

  &__view-all {
    font-size: 1rem;
    line-height: 1.43rem;
    color: #1eb2d2;
    flex: 0 0 auto;
    &:hover {
      color: #1e9ab5;
      border-bottom: 1px solid #1e9ab5;
    }
    @media (max-width: $md3 + px) {
      display: none;
    }
  }
  &__items {
    padding: 0.6rem -0.6rem;
    @media (min-width: $md3 + px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__column {
    flex: 1 1 40%;
    padding: 0 0.6rem;
    margin-bottom: 1.2rem;
    @media (max-width: $md3 + px) {
      margin-bottom: 1.2rem;
    }
  }
}

.recent-post {
  background-color: white;
  padding: 1.25rem;
  border-radius: 4px;
  box-shadow: 0 0.25rem 0.6rem rgba(187, 225, 250, $alpha: 0.25);
  @media (max-width: $md3 + px) {
    padding: 1rem;
  }
  *:last-child {
    margin-bottom: 0;
  }
  &__title {
    display: inline-block;
    margin-bottom: 1.25rem;
    color: inherit;
    font-size: 1.62rem;
    font-weight: 700;
    line-height: 38 / 26 * 100%;
    transition: all 0.3s ease;
    &:hover {
      color: #ff6464;
      cursor: pointer;
    }
    @media (max-width: $md3 + px) {
      font-size: 1.37rem;
      margin-bottom: 1rem;
    }
  }
  &__info {
    margin-bottom: 1rem;
    @media (max-width: $md3 + px) {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  &__text {
    margin-bottom: 1rem;
    height: 150px;
    overflow: hidden;
  }
}
